.collections-sections {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.collections-button {
    border: 1px solid grey;
    /* display: flex;
    justify-content: center; */
    padding: .45rem 1rem;
    /* align-items: center; */
    border-radius: 5rem;
}

.collections-button p {
    margin: 0;
    font-size: .8rem;
}

.collections-image-section {
    gap: 1rem;
}


@media(max-width:800px) {
    .collections-image-section {
        display: flex;
        flex-direction: column;
    }

}

@media(min-width:800.01px) {

    .collections-image-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* .collections-image-section {
        display: grid;
        grid-template-rows: 1rem;
    } */
}