.collections-sections {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.collections-button {
    border: 1px solid grey;
    /* display: flex;
    justify-content: center; */
    padding: .45rem 1rem;
    /* align-items: center; */
    border-radius: 5rem;
}

.collections-button-active {
    background-color: #FACD66;
    color: #1D2123;
}

.collections-button p {
    margin: 0;
    font-size: .8rem;
}

.collections-image-section {
    width: 100%;
}

.col {
    width: 100%;
}

@media(min-width:500.01px) {
    .collections-image-section {
        /* display: flex;
        flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
        /* repeat(5, 1fr); */
        grid-gap: 1rem;
    }


}

@media(max-width:500px) {
    .collections-image-section {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: space-between;
        flex-wrap: wrap;
    }



}