.audio-container,
.audio-player-details,
.audio-top-controls,
.volume-control {
    display: flex;
}

.play-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FACD66;
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 50%;

    cursor: pointer;
}
.play-pause-icon{
    margin-left: .1rem;
}

.audio-icon {
    cursor: pointer;
    align-self: center;
}

.audio-image-div {
    height: 2.5rem;
    width: 2.5rem;
}

.audio-image-div img {
    width: 100%;
}

.audio-player-details {
    /* justify-content: center; */
    align-items: center;
}

.audio-text-div {
    margin-left: 1rem;

}

.audio-player-details p {
    margin: 0;
}

.audio-player-details p:nth-child(1) {
    font-size: 1rem;
    font-weight: bold;
}

.audio-player-details p:nth-child(2) {
    font-size: .7rem;
    color: rgba(255, 255, 255, 0.44);
    margin-top: .2rem;
}

.audio-controls-div {
    width: 70%;
}

.audio-top-controls {
    gap: 2rem;
    align-self: center;
    justify-content: center;
}

.audio-bottom-controls {
    margin-top: 1.4rem;
    margin-left: 3rem;
}

input[type=range] {
    width: 100%;
    /* background: red; */
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 2.4px;
    background: grey;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #FACD66;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}




input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
    background-color: #9a905d;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}


@supports(-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .audio-div {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

@media(max-width:800px) {
    .audio-container {
        align-items: center;
    }

    .audio-controls-div {
        flex: 1;
    }

    .audio-player-details {
        flex: 2;
    }

    .mobile-hide {
        display: none;

    }
}