.new-releases-div {
    text-align: start;
    cursor: pointer;
    /* border: 2px solid red; */
}

.new-releases-div p {
    font-size: .9rem;
}

.new-releases-image-div {
    width: 9rem;
    height: 9rem;
}

.new-releases-image-div img {
    border-radius: 1rem;
    width: 100%;
}