.mobile-popup-div {
    background-color: #1E1E1E;
    height: 100vh;
    width: 45%;
    max-width: 200px;
    position: absolute;
    top: 0;
    padding-top: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.mobile-nav-logo-bar-div {
    display: flex;
    justify-content: space-between;
}

.nav-a-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2.5rem;
}

.mobile-navigation-icon-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (min-width:800px) {

    .mobile-popup-div {
        display: none;
    }
}

@media (max-width:800px) {
    .mobile-menu-icon {
        margin-right: 1rem;
    }
}