p {
    /* margin-bottom: 0; */
    /* margin-top: 0; */
}

.top-charts-item {
    background-color: #1A1E1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: .6rem;
    border-radius: 1.5rem;
    /* border: 2px solid red; */
    /* width: 80%; */
}

.top-charts-item-img-details {
    display: flex;
    align-items: center;
    justify-content: center;
}


.top-charts-details p:nth-child(1) {
    margin-bottom: 0;
    font-weight: 400;
}

.top-charts-details p:nth-child(2) {
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    margin-top: .5rem;
    margin-bottom: 0;
}

.top-charts-details p:nth-child(3) {
    margin-top: .5rem;
}

.top-charts-details p:nth-child(3) {
    font-size: .9rem;
}

.top-charts-item-image-div img {
    width: 100%;
    border-radius: .5rem;
}

.top-charts-item-image-div {
    /* border: 2px solid yellow; */
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;

}

.heart-div {
    border: 1px solid rgba(255, 255, 255, 0.11);
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}