input {
    font-size: 16px;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: .8rem;
}

.header {
    display: flex;
    margin-top: 1rem;
    gap: 3rem;
    align-items: center;

}

.searchinput-div {
    border-radius: 3px;
    /* padding: .5rem; */
    display: flex;
    gap: 1rem;
    align-items: center;
}

.searchinput-div {
    width: 30%;
    background-color: hsl(209, 23%, 22%);
}

.search-box::placeholder {
    color: rgba(255, 255, 255, 0.25);
}

.search-box {
    padding: .3rem;
    background-color: hsl(209, 23%, 22%);
    border: none;
    width: 100%;
    display: block;
}

.search-icon {
    color: rgba(255, 255, 255, 0.25);
}


.nav-hero-section {
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
}

.navigation-1,
.navigation-2 {
    background-color: #1A1E1F;
    padding: 1.4rem .9rem;
    border-radius: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navigation-1 {
    margin-bottom: 2rem;
}




.new-releases {
    display: flex;
    gap: 2rem;
    overflow: scroll;
}