.container {
    width: 95%;
    margin: 0 auto;
}




.nav-hero-section {
    display: flex;
    margin-top: 3rem;
}

.navigation-1,
.navigation-2 {
    background-color: #1A1E1F;
    padding: 1.4rem .9rem;
    border-radius: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navigation-1 {
    margin-bottom: 2rem;
}

.hero-section {
    background-color: #609EAF;
    /* horizontal,vertical,blur radius,spread radius,color */
    box-shadow: 0 3px 10px -2px grey;
    border-radius: 2.5rem;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: flex;
    width: 60%;
    max-width: 900px;
    margin-left: 2rem;
    margin-right: 2rem;
}


.hero-section-image {
    align-self: stretch;
    flex-shrink: 0;
    /* border: 2px solid red; */
    /* width: 60%; */

}

.hero-section-text {
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-section-rnb h1 {
    margin-bottom: 0;
}

.hero-section-rnb p {
    max-width: 450px;
    line-height: 1.4;
    margin-top: .4rem;
}

.hero-section-image img {
    min-width: 100%;
}

.hero-section-likes {
    display: flex;
    align-items: center;
}

.hero-section-likes-1 {
    display: flex;
    margin-right: 1rem;
}

.hero-section-likes p {
    margin-left: .5rem;
}

.hero-section-likes-img {
    margin-left: 0;
    margin-right: 0;
}

.top-charts {
    width: 35%;
    max-width: 500px;
}


.new-releases {
    display: flex;
    gap: 2rem;
    overflow: scroll;
}