.view-chart {
    width: 100%;
}

.viewchart-div,
.viewchart-button-div {
    display: flex;
}




.viewchart-div h1 {
    color: #A4C7C6;
    margin-bottom: 0;
    font-weight: 800;
}

.viewchart-text-div-p1,
.viewchart-text-div-p2 {
    font-weight: 400;
    font-size: .9rem;
    width: 60%;
    color: #EFEEE0;
    max-width: 850px;
    margin-top: 1rem;
    margin-bottom: .4rem;
}

.viewchart-text-div-p2 {
    margin-bottom: 2.4rem;
}

.viewchart-text-div {
    margin-left: 2rem;
}


.viewchart-image-div img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 1.5rem;
}

.viewchart-button-div {
    gap: 1rem;
    align-items: center;
}

.chart-button {
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.07);
    padding: .55rem 1rem;
    border-radius: 2rem;
}

.like-button {
    border-radius: 50%;
    padding: .5rem
}

.chart-button p {
    margin: 0;
}

.tracks {
    margin-top: 2rem;
    top: 0;
}

.tracks p {
    font-size: .8rem;

}

@media (min-width:800.01px) {
    .viewchart-div {
        align-items: flex-end;
    }

    .viewchart-image-div {
        width: 15rem;
        height: 15rem;
    }

    .desktop-hide {
        display: none;
    }

}

@media(max-width:800px) {
    .viewchart-button-div {
        flex-wrap: wrap;
        gap: .3rem;
        align-items: center;
    }

    .viewchart-image-div {
        height: 17rem;
    }

    .viewchart-div {
        flex-direction: column;
    }

    .viewchart-text-div {
        margin-left: 0;
    }

    .viewchart-text-div-p1,
    .viewchart-text-div-p2 {
        width: 100%;
    }

    .chart-button {
        padding: .30rem .50rem;
    }
}